# Clé secrète Django
SECRET_KEY=django-insecure-change-me

# Debug (True/False, 1/0, yes/no)
DEBUG=True

# Hôtes autorisés, séparés par des virgules
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données SQLite (facultatif en v1)
# DB=/workspace/FasoKalanB/db.sqlite3
DB=
