# Secrets / configuration locale
.env

# Environnements virtuels
venv/
.venv/

# Python
__pycache__/
*.pyc

# Base de données locale
/db.sqlite3

# Fichiers utilisateurs / uploads
media/*
!media/.gitkeep

# IDE
.vscode/
.idea/

# Artefacts système Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
